<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Red" value="255" />
        <add key="Green" value="255" />
        <add key="Blue" value="255" />
        <add key="Webhook" value="https://discord.com/api/webhooks/901590445841350656/EqzyE5TJpQlCRr-f9r8qY7KSKaUZLwJEo7aTK02PSP5wXBUk4JO80lYc35jQqs_T47OL" />
        <add key="Wallet" value="" />
        <add key="CryptoAddress" value="" />
    </appSettings>
</configuration>